# Dependencies
node_modules/
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Environment
.env
.env.local
.env.*.local

# Build outputs
.next/
out/
dist/
build/
coverage/
*.tsbuildinfo

# Vercel
.vercel

# OS
.DS_Store

# Logs
*.log
npm-debug.log*

# Editor directories and files
.idea/
.vscode/
